/* document-wide settings */
   body
   {
      color: #000000;
      background: #ffffff;
      margin-top: 0;
      margin-left: 5;
      margin-right: 5;
   }
   a:link
   {
      color: #000080;
   }
   a:visited
   {
      color: #808080;
   }
   a:active
   {
      color: #008000;
   }
/* document-wide settings */

/* miscellaneous settings */
   .mainheading
   {
      font-family: Arial, Helvetica, Georgia, sans-serif;
      font-weight: bold;
      font-size: 24px;
      padding-left: 5px;
      text-align: left;
      text-decoration: none;
      color: #008080;
   }
   .mainsubheading
   {
      font-size: 12px;
   }
   .maincontent
   {
      margin-left: 25;
      margin-right: 25;
   }
   .news
   {
      padding-left: 10;
      padding-right: 5;
   }
   .heading
   {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 14px;
      text-align: left;
      padding-left: 5px;
      text-decoration: none;
      color: #008080;
   }
   .body
   {
      text-align: justify;
      padding-left: 10px;
      padding-right: 5px;
      font-size: 12px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
   }
   .linksheading
   {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      color: #008080;
   }
   .linksbody
   {
      text-align: center;
      font-size: 12px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
   }
   a.linksheading
   {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      color: #008080;
   }
   a.linksbody
   {
      text-decoration: none;
   }
   a.html2
   {
      font-size: 10px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
      color: #000080;
      text-decoration: underline;
   }
   p.credits
   {
      font-size: 10px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
      text-align: center;
   }
/* miscellaneous settings */

/* HTML2 compatability settings */
   h1
   {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 18px;
      text-align: left;
      text-decoration: none;
      color: #008080;
   }
   h2
   {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 14px;
      text-align: left;
      padding-left: 5px;
      text-decoration: none;
      color: #008080;
   }
   h3
   {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: left;
      padding-left: 7px;
      padding-right: 0;
      text-decoration: none;
      color: #008080;
   }
   h4
   {
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-style: italic;
      font-size: 12px;
      text-align: left;
      padding-left: 10px;
      text-decoration: none;
      color: #008080;
   }
   p
   {
      text-align: justify;
      padding-left: 10px;
      padding-right: 5px;
      font-size: 12px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
   }
   ul
   {
      list-style: square outside url("g/dot.jpg");
   }
   ol
   {
	   list-style: decimal outside none;
   }
   li
   {
      text-align: justify;
      font-size: 12px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
   }
   dd
   {
      text-align: justify;
      font-size: 12px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
   }
   dt
   {
      font-weight: bold;
      font-size: 12px;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
   }
   pre
   {
      padding-left: 10px;
      padding-right: 5px;
   }
   blockquote
   {
      text-align: justify;
      font-size: 12px;
      font-family: Arial, Helvetica, Georgia, sans-serif;
      padding-left: 10;
      padding-right: 5px;
   }
/* HTML2 compatability settings */